body {
    background: beige;
    color: brown;
    text-align: center;
}
figure {
    float: left;
    display: block;
    width: 18%;
}
figcaption {
    display: block;
    width: 180px;
    text-align: center;
}